@font-face {
  font-family: 'Poppins';
  src:
    url('./fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('./fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src:
    url('./fonts/poppins-bold-webfont.woff2') format('woff2'),
    url('./fonts/poppins-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Martia';
  src: url('./fonts/MartianMono_Condensed-Bold.ttf') format('truetype');
  font-weight: 600;
}

:root {
  --black-text-90: #222222e6;
  --black-text-100: #222222;
  --poppins: Poppins, 'sans-serif';
  --play-fair: Martia, 'sans-serif';
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden !important;
  width: 100vw;
  background-image: url('/src/assets/img/gradient-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  cursor: none;
}
.wrapper {
  padding: 0 1.8rem;
}

.char {
  display: inline-block;
  transform: translateY(115px);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.nav-bar span:hover,
.nav-bar a:hover {
  cursor: pointer;
}

.projects-container {
  scroll-snap-type: x mandatory;
}

.projContainer {
  scroll-snap-align: start;
}




